<h1><center>Laboratorio 4: Spark y EDA</center></h1>

<center><strong>MDS7202: Laboratorio de Programación Científica para Ciencia de Datos - Primavera 2024</strong></center>

### Cuerpo Docente:

- Profesores: Ignacio Meza, Sebastián Tinoco
- Auxiliar: Eduardo Moya
- Ayudantes: Nicolás Ojeda, Melanie Peña, Valentina Rojas

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no serán revisados

- Nombre de alumno 1:
- Nombre de alumno 2:

### **Link de repositorio de GitHub:** [Repositorio](https://github.com/...../)

## Reglas:

- **Grupos de 2 personas**
- Fecha de entrega: 6 días de plazo con descuento de 1 punto por día. Entregas Jueves a las 23:59.
- Instrucciones del lab el viernes a las 16:15 en formato online. Asistencia no es obligatoria.
- <u>Prohibidas las copias</u>. Cualquier intento de copia será debidamente penalizado con el reglamento de la escuela.
- Tienen que subir el laboratorio a u-cursos y a su repositorio de github. Labs que no estén en u-cursos no serán revisados. Recuerden que el repositorio también tiene nota.
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente serán respondidos por este medio.
- Pueden usar cualquier material del curso que estimen conveniente.

### Temas a tratar

- Introducción al manejo y análisis de grandes volúmenes de datos por medio de la libreria `pyspark`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pyspark` para manejar datos tabulares de gran volúmen.
- Crear gráficos para el desarrollo de Análisis de Datos Exploratorios (EDA).

### Datos del Lab

- Base de datos: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/datos_lab_spark.parquet
- Objeto serializado: https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/object.pkl

## 1. Preguntas Teóricas [12 puntos]
(2 por pregunta)

<center>
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2018-08/1/17/enhanced/buzzfeed-prod-web-05/anigif_enhanced-9173-1533160033-1.gif" width=350 />

Responda en  máximo 5 líneas las siguientes preguntas:
1. ¿Qué es Apache Spark y cuáles son sus principales ventajas sobre Pandas?
2. ¿Qué es un RDD en Spark? Describe una de sus principales características. ¿Qué tienen que ver con los dataframes?.
3. Diferencia entre transformaciones y acciones en Spark. Proporciona ejemplos de cada una. ¿Qué ocurre internamente cuando se ejecuta una acción?
4. Explica la importancia del particionamiento en Spark y cómo afecta el rendimiento del procesamiento de datos.
5. ¿Cuáles son las funciones de Spark Driver y Spark Executor?
6. ¿Qué es el Catalyst Optimizer en Apache Spark y cuál es su función principal en la optimización de consultas SQL?

**Respuestas**

1. Apache Spark es un sistema de procesamiento de datos a gran escala open source. Dada su trabajo de forma distribuida, la principal ventaja de Spark frente a Pandas es su velocidad y capacidad de trabajar con grandes volúmenes de datos.
2. Un RDD es una colección de objetos distribuidos e inmutables que sufren operaciones en paralelo. Sus principales características son las dependencias (que le permiten reconstruir el RDD original, así siendo solido ante fallos), las particiones (que permiten paralelizar y hacer más eficiente el trabajo) y el computo de funciones (toma una partición específica y devuelve un iterador de los elementos procesados).

## Parte Práctica

<center>
<img src="https://pbs.twimg.com/ad_img/1285681293590749189/kDckYy6Z?format=png&name=900x900" width=350 />

Juan Carlos Bodoque, el famoso periodista y empresario, decidió diversificar su portafolio de negocios y crear su propia plataforma de e-commerce. Después de varios años de investigar y analizar el mercado financiero, finalmente logró fundar Bodoque E-Shop con el objetivo de ofrecer a sus clientes una experiencia personalizada y confiable en sus transacciones.

Sin embargo, con la llegada de los aliens al planeta Tierra, aparecen nuevos desafíos para el negocio. Por ello, Bodoque decide invertir en un equipo de expertos en tecnología y comercio interplanetario, para que Bodoque Shop implemente las últimas innovaciones en servicio al cliente para garantizar la satisfacción y fidelización de sus nuevos clientes.

El primer objetivo de Bodoque E-Shop será la hacer un análisis exploratorio para entender mejor el comportamiento de los usuarios en la plataforma. Para ello Bodoque les hace entrega de un extenso dataset en el que se registran las actividades que han realizado sus clientes durante los últimos meses. A continuación se presenta un diccionario de variables que levanto el equipo de consultores interplanetarios de Bodoque:

1. `Transaction ID`: A unique identifier for each transaction.
2. `Customer ID`: A unique identifier for each customer.
3. `Transaction Amount`: The total amount of money exchanged in the transaction in USD.
4. `Transaction Date`: The date and time when the transaction took place.
5. `Payment Method`: The method used to complete the transaction (e.g., credit card, PayPal, etc.).
6. `Product Category`: The category of the product involved in the transaction.
7. `Quantity`: The number of products involved in the transaction.
8. `Customer Age`: The age of the customer making the transaction.
9. `Customer Location`: The geographical location of the customer.
10. `Device Used`: The type of device used to make the transaction (e.g., mobile, desktop).
11. `IP Address`: The IP address of the device used for the transaction.
Shipping Address: The address where the product was shipped.
12. `Billing Address`: The address associated with the payment method.
13. `Is An Alien`: A binary indicator of whether customer is an alien.
14. `Account Age Days`: The age of the customer's account in days at the time of the transaction.
15. `Transaction Hour`: The hour of the day when the transaction occurred.

### Importamos librerias utiles y cargamos los datos😸

In [1]:
!pip install pyspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Requirement already satisfied: pyspark in c:\users\nicol\appdata\local\programs\python\python310\lib\site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\nicol\appdata\local\programs\python\python310\lib\site-packages (from pyspark) (0.10.9.7)

El sistema no puede encontrar la ruta especificada.

In [11]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [2]:
# Libreria Core del lab.
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StringType, IntegerType, FloatType

In [13]:
!pip install --upgrade plotly
!pip install missingno

Requirement already satisfied: plotly in c:\users\lucas\python-envs\nb-env\lib\site-packages (5.24.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\lucas\python-envs\nb-env\lib\site-packages (from plotly) (23.2)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: missingno in c:\users\lucas\python-envs\nb-env\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\lucas\python-envs\nb-env\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\lucas\python-envs\nb-env\lib\site-packages (from missingno) (3.8.2)
Requirement already satisfied: scipy in c:\users\lucas\python-envs\nb-env\lib\site-packages (from missingno) (1.12.0)
Requirement already satisfied: seaborn in c:\users\lucas\python-envs\nb-env\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from matplotlib->missingno) (2.8.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from seaborn->missingno) (2.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\lucas\python-envs\nb-env\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#Libreria para plotear
import matplotlib.pyplot as plt
import plotly.express as px

Cargue los datos usando **pyspark**

> Nota: Puede ser util el siguiente [enlace](https://www.oracle.com/cl/java/technologies/downloads/#jdk22-windows)

In [7]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext

# Inicializo el Spark Session
spark = SparkSession.builder.config(conf=SparkConf().setMaster("local").setAppName("Lab4")).getOrCreate()
df = spark.read.parquet("datos_lab_spark.parquet")

### 2. Limpieza con pyspark [8 puntos]
(1 punto por pregunta)

<center>
<img src="https://miro.medium.com/v2/resize:fit:600/1*A6PpTrehGLxCJWNcUsDTNg.jpeg" width=350 />

Para comenzar con el análisis exploratorio usted decide empezar limpiando la base de datos con **pyspark** dado el alto volumen de datos que genera diariamente Bodoque E-Shop.

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**



1.   Utilice `.printSchema()` para revisar la estructura de los datos
2.   Muestre las primeras 10 filas del dataset. Hint: utilice `.show()`
3.   Imprima un muestreo aleatorio con el 5% de los datos diponibles. . Hint: utilice `.sample()`
4. Revise los tipos de datos de cada columna con `.dtypes()` y responda la siguiente pregunta: ¿Cuál/es columna/s tiene/n un tipo de dato que no es el adecuado y por qué?
5. Cree una función **cast_columns** que permita cambiar el tipo de datos de las columnas problemáticas. Luego utilice esta función respecto a lo respondido en la pregunta anterior.
6. Cuente la cantidad de datos nulos por variable. Recuerde que Spark no posee un método que le permita calcular directamente los nulos.
7. Elimine datos nulos.
8. Elimine datos duplicados.

In [8]:
df.printSchema()

root
 |-- Transaction ID: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Date: timestamp_ntz (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: double (nullable = true)
 |-- Customer Age: double (nullable = true)
 |-- Customer Location: string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- IP Address: string (nullable = true)
 |-- Shipping Address: string (nullable = true)
 |-- Billing Address: string (nullable = true)
 |-- Is An Alien: double (nullable = true)
 |-- Account Age Days: double (nullable = true)
 |-- Transaction Hour: double (nullable = true)

In [9]:
df.show(10)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|4b4a5fe1-ec4d-4f9...|d1b87f62-51b2-493...|             58.09|2022-03-24 00:00:00| bank transfer|     electronics|     1.0|        17.0|    Amandaborough|       NULL| 212.195.49.198|Unit 8934 Box 005...|Unit 8934 Box 005...|        0.0|            NULL|             5.0|
|bacd9392-73ce-481...|37de64d5-e901-4a5...|            389.96|2023-01-17 00:00:00|    debit card|     electronics|     2.0|        40.0|     East Timothy|    desktop|208.106.249.121|634 May Keys\nPor...|634 May Keys\nPor...|        0.0|            72.0|             8.0|
|d936a024-3a1d-40d...|1bac88d6-4b22-409...|            134.19|2023-06-01 00:00:00|        PayPal|   home & garden|     2.0|        22.0|       Davismouth|     tablet|   76.63.88.212|                NULL|16282 Dana Falls ...|        0.0|            63.0|            NULL|
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|         Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|b0634f43-d07d-4ca...|45071bc5-9588-43e...|            121.53|2020-10-26 00:00:00| bank transfer|        clothing|     2.0|        51.0|             NULL|       NULL| 190.172.14.169|29799 Jason Hills...|29799 Jason Hills...|        0.0|           158.0|            NULL|
|8c4711b8-7477-421...|29616b04-2d5c-472...|            166.41|2019-06-10 00:00:00| bank transfer|    toys & games|    NULL|        34.0|     Herreramouth|     tablet|           NULL|5699 Brittany Vil...|120 Kristi Dale\n...|       NULL|            38.0|            10.0|
|fd0342fe-6b16-4a3...|fe21ae29-ba4c-424...|             92.88|2020-10-09 00:00:00|        PayPal|    toys & games|     2.0|        14.0|        Ramosfort|     tablet|   13.45.27.192|                NULL|727 Gibson Island...|        0.0|           119.0|            19.0|
|2d7299de-355b-479...|024257c3-5671-4de...|            318.14|2021-10-09 00:00:00|   credit card| health & beauty|     4.0|        42.0|             NULL|    desktop|131.141.230.185|3914 Davis Union\...|                NULL|        0.0|           251.0|            NULL|
|de51c9df-ab52-43a...|                NULL|              NULL|2019-03-22 00:00:00| bank transfer|   home & garden|    NULL|        38.0|       Carneyfurt|       NULL|           NULL|47893 Maldonado S...|                NULL|        0.0|           190.0|            19.0|
|                NULL|aab93e75-582f-445...|            121.78|2022-02-28 00:00:00| bank transfer| health & beauty|     4.0|        39.0|       Brockburgh|     mobile| 174.32.252.238|2334 Briana Cente...|2334 Briana Cente...|        0.0|           343.0|            NULL|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 10 rows

In [10]:
df.sample(fraction=0.05).show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|   Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
|a30aaab5-4042-4b8...|2357c76e-9253-4ce...|            226.17|2019-07-02 00:00:00| bank transfer|        clothing|     5.0|        31.0|            Lynnberg|    desktop| 207.208.171.73|828 Strong Loaf A...|828 Strong Loaf A...|        0.0|           124.0|            20.0|
|                NULL|339683a0-3028-449...|            475.76|2023-09-04 00:00:00|        PayPal|            NULL|     2.0|        29.0|         Muellerstad|     mobile|  196.101.90.48|3496 Jason Ports\...|3496 Jason Ports\...|       NULL|           143.0|            10.0|
|836b49d7-fdf3-41a...|82563528-49f7-480...|            153.05|2022-10-18 00:00:00|    debit card|     electronics|     3.0|        27.0|                NULL|     mobile|  94.151.244.55|0554 Stephen Radi...|0554 Stephen Radi...|        0.0|            NULL|             3.0|
|                NULL|                NULL|              NULL|2022-10-09 00:00:00| bank transfer|        clothing|     2.0|        20.0|      Jacquelineberg|    desktop|   49.140.32.35|56031 Mark Plaza ...|56031 Mark Plaza ...|        0.0|           255.0|             0.0|
|                NULL|                NULL|            147.66|2022-01-15 00:00:00|    debit card|    toys & games|     1.0|        NULL|         New Allison|       NULL|  198.235.70.78|78767 Williams Ri...|78767 Williams Ri...|        0.0|           286.0|             0.0|
|acb9ec46-0d33-488...|d961c2d6-f968-445...|            136.27|2023-02-05 00:00:00|          NULL|     electronics|     2.0|        41.0|         Morganhaven|     mobile|           NULL|0131 Watson Meado...|0131 Watson Meado...|        0.0|            10.0|            12.0|
|e5e2f160-af62-403...|b7c9d407-06dc-462...|            170.67|2020-04-11 00:00:00| bank transfer|            NULL|     5.0|        44.0|           Forbeston|     tablet| 63.125.226.219|                NULL|6309 Jones Causew...|       NULL|           191.0|             3.0|
|9bdf619e-0b52-4f7...|cf1f9f27-154d-4a7...|            259.68|               NULL|        PayPal|            NULL|     2.0|        23.0|         Donaldmouth|    desktop|  29.46.141.177|                NULL|82011 Debra Drive...|        0.0|           209.0|            10.0|
|38a38c02-773d-434...|ed7b253b-7f8a-4e1...|            344.57|2024-12-25 00:00:00|    debit card|            NULL|    NULL|        30.0|        Stephensfurt|     tablet|   84.99.34.188|1174 Monique Ways...|                NULL|        0.0|            NULL|             9.0|
|e8ac0b3c-09aa-44e...|656f8b98-a35d-4c3...|              NULL|2021-06-27 00:00:00|          NULL|        clothing|     1.0|        28.0|         Port Melody|     mobile|  177.128.68.85|2395 Kim Loop Apt...|2395 Kim Loop Apt...|        0.0|           299.0|            23.0|
|619d24ee-87e4-4c2...|                NULL|             95.14|2022-12-23 00:00:00|    debit card|        clothing|     1.0|        28.0|           Moranstad|     mobile|   14.64.102.92|5432 Mora Dam\nNo...|5432 Mora Dam\nNo...|        0.0|           332.0|            NULL|
|5cc937d5-852e-406...|686a85b8-9eb2-448...|            424.26|               NULL|    debit card|   home & garden|     3.0|        38.0|                NULL|     mobile|  129.172.211.3|PSC 6533, Box 013...|PSC 6533, Box 013...|        0.0|            NULL|             7.0|
|67fcb5ac-36f5-459...|                NULL|            193.35|2020-05-24 00:00:00|          NULL|     electronics|     2.0|        13.0|           Davidbury|     mobile|   87.97.18.156|                NULL|Unit 6737 Box 054...|       NULL|             6.0|            14.0|
|10ac772d-c28f-4b6...|cced5128-7763-45a...|              NULL|2018-09-07 00:00:00|          NULL|   home & garden|    NULL|        38.0|        Mccarthystad|    desktop|  83.56.182.136|                NULL|986 Mary Valleys\...|        0.0|            NULL|            23.0|
|                NULL|b144b591-3ef8-4b5...|             325.9|2020-01-31 00:00:00|          NULL|     electronics|     5.0|        29.0|        Berryborough|       NULL|           NULL|Unit 2676 Box 837...|                NULL|        0.0|           324.0|            NULL|
|                NULL|d4b2ccbd-fa8f-48e...|             68.34|2020-03-03 00:00:00|        PayPal|        clothing|     3.0|        48.0|     East Valerieton|     mobile|  189.52.139.59|7266 Kenneth Isla...|7266 Kenneth Isla...|        0.0|           293.0|            NULL|
|e54d88b3-a9b8-420...|c2557634-a2bb-4fe...|            247.66|2019-11-05 00:00:00|          NULL| health & beauty|     3.0|        29.0|                NULL|       NULL|           NULL|                NULL|916 Joshua Trail ...|        1.0|           105.0|            NULL|
|                NULL|4553fef3-639f-43a...|              NULL|               NULL|   credit card|            NULL|     1.0|        NULL|East Christopherport|     tablet|           NULL|834 Eric Islands ...|                NULL|        0.0|            NULL|             8.0|
|067c23d6-542a-419...|ef1f0547-9fad-4ba...|              NULL|2021-09-28 00:00:00|        PayPal|   home & garden|     1.0|        45.0|           Rowemouth|       NULL|223.178.103.142|                NULL|5621 David Forges...|       NULL|           266.0|            13.0|
|                NULL|dc63958d-3540-4c1...|              NULL|2024-02-22 00:00:00| bank transfer|   home & garden|     1.0|        26.0|          Gordonstad|    desktop| 85.195.132.107|USNV Collins\nFPO...|USNV Collins\nFPO...|        0.0|           150.0|             7.0|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+--------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 20 rows

In [11]:
df.dtypes

[('Transaction ID', 'string'),
 ('Customer ID', 'string'),
 ('Transaction Amount', 'double'),
 ('Transaction Date', 'timestamp_ntz'),
 ('Payment Method', 'string'),
 ('Product Category', 'string'),
 ('Quantity', 'double'),
 ('Customer Age', 'double'),
 ('Customer Location', 'string'),
 ('Device Used', 'string'),
 ('IP Address', 'string'),
 ('Shipping Address', 'string'),
 ('Billing Address', 'string'),
 ('Is An Alien', 'double'),
 ('Account Age Days', 'double'),
 ('Transaction Hour', 'double')]

In [15]:
from pyspark.sql.types import IntegerType, BooleanType
def cast_columns(df, cols_types):
    """
    Cambia el tipo de múltiples columnas en un DataFrame de Spark.

    Parámetros:
    - df: DataFrame de Spark.
    - cols_types: Diccionario con nombres de columnas como claves y tipos de datos de Spark como valores.

    Retorna:
    - DataFrame de Spark con tipos de columnas modificados.
    """
    for col_name, new_type in cols_types.items():
        df = df.withColumn(col_name, df[col_name].cast(new_type))
    return df


df = cast_columns(df, {
    'Quantity': IntegerType(),
    'Customer Age': IntegerType(),
    'Is An Alien': BooleanType(),
    'Account Age Days': IntegerType(),
    'Transaction Hour': IntegerType()
})
df.dtypes

[('Transaction ID', 'string'),
 ('Customer ID', 'string'),
 ('Transaction Amount', 'double'),
 ('Transaction Date', 'timestamp_ntz'),
 ('Payment Method', 'string'),
 ('Product Category', 'string'),
 ('Quantity', 'int'),
 ('Customer Age', 'int'),
 ('Customer Location', 'string'),
 ('Device Used', 'string'),
 ('IP Address', 'string'),
 ('Shipping Address', 'string'),
 ('Billing Address', 'string'),
 ('Is An Alien', 'boolean'),
 ('Account Age Days', 'int'),
 ('Transaction Hour', 'int')]

In [16]:
from pyspark.sql.functions import col, when, sum
exprs = [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c) for c in df.columns]

df.agg(*exprs).show()

+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|Transaction ID|Customer ID|Transaction Amount|Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|IP Address|Shipping Address|Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+
|        126886|     126847|            126840|          126831|        126877|          126814|  126966|      126826|           126781|     126911|    126929|          126734|         126804|     126828|          126886|          126953|
+--------------+-----------+------------------+----------------+--------------+----------------+--------+------------+-----------------+-----------+----------+----------------+---------------+-----------+----------------+----------------+

In [17]:
df = df.na.drop()
df.count()

13388

In [18]:
df = df.dropDuplicates()
df.count()

13388

In [19]:
df.show(5)

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+--------------+--------------------+--------------------+-----------+----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age|Customer Location|Device Used|    IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+--------------+--------------------+--------------------+-----------+----------------+----------------+
|8441d125-c6b8-444...|8be8b3cb-1102-42f...|             73.19|2020-07-09 00:00:00|        PayPal|    toys & games|       5|          35|   New Allisonton|     tablet|  43.47.125.63|PSC 8336, Box 026...|PSC 8336, Box 026...|      false|              81|               6|
|25aaaf63-f8c4-45d...|faec099b-02ac-44c...|            327.76|2024-07-30 00:00:00|        PayPal| health & beauty|       2|          26|    Williamshaven|     mobile|116.130.75.103|5096 Howard Ridge...|5096 Howard Ridge...|      false|             363|               6|
|04cf3438-6677-425...|a87dba6b-6f39-448...|            142.17|2022-07-16 00:00:00|   credit card|   home & garden|       1|          26|         Tinaberg|     tablet|  37.81.126.73|625 Escobar Lake\...|PSC 2598, Box 623...|      false|             197|              11|
|dc12a480-1d0f-48b...|88ce4cae-95cd-482...|             64.13|2019-08-09 00:00:00| bank transfer|        clothing|       2|          29|       Santosbury|     tablet|  121.38.58.10|08077 Rojas Pines...|08077 Rojas Pines...|      false|             318|              19|
|e551b7d9-9388-4d8...|1add854f-9d94-46d...|            273.13|2021-10-22 00:00:00|        PayPal| health & beauty|       2|          56|     East Timothy|     mobile|146.110.166.50|7304 Morgan Manor...|7304 Morgan Manor...|      false|             150|              19|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+-----------------+-----------+--------------+--------------------+--------------------+-----------+----------------+----------------+
only showing top 5 rows

### 3. Transformaciones con pyspark [6 puntos]
(1 punto por pregunta)

<center>
<img src="https://live.staticflickr.com/13/91801406_0e71d7f019_b.jpg" width=350 />

**Nota: NO SE PERMITE EL USO DE PANDAS EN ESTA SECCIÓN**

Para continuar con el análisis, los especistas de Bodoque les gustaría tener nuevas variables disponibles. Tras las notas de la reunión usted llega a la conclusión de que tiene que realizar las siguientes tareas (con el dataset preprocesado de la seccion anterior):


1.   Agregar una columna llamada "Transaction bp" con el **monto total** de la transacción en bodoque pesos. Se considera que $x$ dólares equivalen a $log(48+|x^{36}|)$ bodoque pesos.
2.   Crear una columna llamada "Transaction Month" con el mes en que se realiza una transacción.
3.   Crear la variable *Type of purchase* según la catidad de unidades vendidas de acuerdo a las siguientes categorías.
  * Compra minorista: 4 productos o menos.
  * Compra mayorista: 5 produtos o más.
4. Imprima los registros de compras hechas por alienígenas en el comecio mayorista.  Utilice `.filter()`.
5. Cuente la cantidad de compras realizadas por humanos y la cantidad de compras realizadas por alienígenas. Utilice `.groupby()`.
6. Muestre una tabla con la recaudación promedio por transacción para cada método de pago, tanto para humanos como alienígenas. Utilice `pivot()`.

In [21]:
from pyspark.sql.functions import  log, abs, pow, month, avg

df = df.withColumn("Transaction bp", log(48 + abs(pow(col("Transaction Amount"), 36))))

In [22]:
df = df.withColumn("Transaction Month", month(col("Transaction Date")))

In [23]:
df = df.withColumn("Type of purchase", 
    when(col("Quantity") <= 4, "Compra minorista")
    .otherwise("Compra mayorista")
)

In [24]:
df.filter((col("Is An Alien") == True) & (col("Type of purchase") == "Compra mayorista")).show()

+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
|      Transaction ID|         Customer ID|Transaction Amount|   Transaction Date|Payment Method|Product Category|Quantity|Customer Age| Customer Location|Device Used|     IP Address|    Shipping Address|     Billing Address|Is An Alien|Account Age Days|Transaction Hour|    Transaction bp|Transaction Month|Type of purchase|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
|5c9dc53f-5c17-4df...|34762ff9-4232-4b1...|2378.5499999999997|2023-10-09 00:00:00|   credit card|   home & garden|       5|          33|South Sonyaborough|    desktop|  28.126.118.41|7628 Brown Forks\...|7628 Brown Forks\...|       true|             201|               3| 279.8728681429327|               10|Compra mayorista|
|03a0f97e-2943-4e9...|1ca630e3-16d0-4c4...|            415.95|2019-12-30 00:00:00|    debit card|        clothing|       5|          27|    East Mistytown|    desktop|  94.25.204.108|9837 Jackson Trai...|9837 Jackson Trai...|       true|               3|              11| 217.1003421862763|               12|Compra mayorista|
|67bbb82b-4dea-4f1...|eeecfc30-7173-487...|             431.4|2019-05-21 00:00:00| bank transfer|   home & garden|       5|          41|     Rhodeschester|    desktop|  43.171.218.89|5140 Davis Spring...|5140 Davis Spring...|       true|             270|              23|218.41328642238201|                5|Compra mayorista|
|c4c67267-94ee-4da...|58a55800-011c-43c...|3492.0499999999997|2022-11-29 00:00:00|    debit card|     electronics|       5|          26|     Reynoldsshire|     mobile|212.156.141.211|857 Patricia Walk...|859 Emma Trafficw...|       true|              27|               3|293.69679247076897|               11|Compra mayorista|
|615ea018-5192-4a6...|081bb54d-d064-457...|            110.04|2022-06-01 00:00:00|    debit card|    toys & games|       5|          41|      West William|     mobile| 91.242.124.171|Unit 3136 Box 648...|Unit 3136 Box 648...|       true|             243|              10|169.23038169802945|                6|Compra mayorista|
|f20bcc11-7ab2-4b9...|3b8116ef-57ce-42f...|            116.89|2021-05-14 00:00:00|   credit card|    toys & games|       5|          32|    Williamborough|     mobile|124.122.165.242|4159 Kathryn Lock...|4159 Kathryn Lock...|       true|             243|              13|171.40439957830844|                5|Compra mayorista|
|4abe4392-ce03-4e6...|45b4b376-2a90-42a...|            119.09|2024-12-09 00:00:00| bank transfer|    toys & games|       5|          35|        Glennhaven|     mobile| 65.149.219.129|USCGC Collins\nFP...|USCGC Collins\nFP...|       true|              94|               5|172.07566235207656|               12|Compra mayorista|
|c2459ca2-95f9-484...|812da18a-d360-4c3...|             138.4|2023-02-05 00:00:00|    debit card| health & beauty|       5|          43|       Rhodesshire|     mobile| 187.50.229.211|49853 Jones Tunne...|49853 Jones Tunne...|       true|             216|               2|177.48532955460848|                2|Compra mayorista|
|335d6d36-dc38-4b5...|df83f23f-0d51-468...|             180.2|2024-02-12 00:00:00|   credit card|        clothing|       5|          27|         Blairfort|     mobile|    42.103.57.4|61213 Ray Flat\nS...|61213 Ray Flat\nS...|       true|               1|              18|186.98642442627255|                2|Compra mayorista|
|1337cc7d-8b8b-4d9...|815a33fb-26b0-4ff...|             11.62|2023-03-14 00:00:00|   credit card|    toys & games|       5|          26| Lake Juliechester|     tablet| 106.171.61.115|PSC 2745, Box 049...|PSC 2745, Box 049...|       true|               7|               0| 88.29819905125554|                3|Compra mayorista|
|82a99c5a-ce28-4bd...|324c0529-a15d-4aa...|            125.75|2021-01-07 00:00:00|        PayPal|    toys & games|       5|          41|         Port Lisa|     mobile|   38.88.159.27|109 Shelby Park S...|109 Shelby Park S...|       true|             321|               4|174.03464912327456|                1|Compra mayorista|
|d693b64f-0469-47d...|4232812d-8afa-4b3...|           3048.35|2022-07-03 00:00:00|    debit card|        clothing|       5|          34|   East Susanmouth|     tablet|  123.199.243.1|4850 Kyle Fork Ap...|4850 Kyle Fork Ap...|       true|              12|               4|  288.804806625977|                7|Compra mayorista|
|e48a0be7-3298-459...|884b556f-aa80-4c6...|2757.7999999999997|2021-12-01 00:00:00| bank transfer|        clothing|       5|          32|     Petersonhaven|     tablet|100.176.120.232|79204 Hurley Rapi...|79204 Hurley Rapi...|       true|             200|               8|285.19878741867507|               12|Compra mayorista|
|e5aadec6-4d80-447...|37664cb1-9044-465...|             237.5|2020-05-07 00:00:00|        PayPal|    toys & games|       5|          47|      Matthewmouth|     tablet| 87.132.148.234|26553 Pierce Isla...|26553 Pierce Isla...|       true|             195|              23|196.92603444508904|                5|Compra mayorista|
|45b71cfb-3bbf-4d2...|0303dcda-f67b-49d...|            178.35|2023-11-25 00:00:00|   credit card|        clothing|       5|          39|      East Marilyn|     mobile| 28.172.217.141|472 Meredith Wall...|57182 Wheeler Har...|       true|              32|               0| 186.6149248249764|               11|Compra mayorista|
|f6c8e649-5373-4d1...|8b20f3df-5aa9-417...| 854.3000000000001|2024-08-31 00:00:00| bank transfer|    toys & games|       5|          32|     South Ricardo|     mobile| 179.23.246.134|190 Huerta Locks ...|190 Huerta Locks ...|       true|             160|               2|243.01016712567264|                8|Compra mayorista|
|dee24ca4-d6a9-47b...|f7d6e0b5-72fb-4bd...|            329.75|2020-05-01 00:00:00|   credit card|   home & garden|       5|          43|    Griffinborough|     mobile| 173.143.245.79|4896 Pacheco Cove...|4896 Pacheco Cove...|       true|              29|               2|208.74005249750726|                5|Compra mayorista|
|57bfc650-0ed0-4a1...|cfc79960-2279-4bf...|             414.6|2019-06-08 00:00:00|        PayPal|     electronics|       5|          17| Lake Victoriaview|    desktop| 15.206.113.226|640 Caitlyn Ford ...|640 Caitlyn Ford ...|       true|               4|               0|216.98331120006046|                6|Compra mayorista|
|aad59807-3908-439...|46e02ec4-d14e-46f...|             25.05|2019-10-06 00:00:00| bank transfer|     electronics|       5|          44|          Loriland|     tablet| 116.92.228.108|344 Jennifer Camp...|344 Jennifer Camp...|       true|               1|               6|115.95145779111145|               10|Compra mayorista|
|eb98200c-6a7b-4fb...|7cd09043-ebea-453...|            795.55|2024-06-24 00:00:00|        PayPal| health & beauty|       5|          19|  South Selenafort|    desktop|   16.74.39.188|95064 Dan Forest\...|95064 Dan Forest\...|       true|             227|               2|240.44521317673914|                6|Compra mayorista|
+--------------------+--------------------+------------------+-------------------+--------------+----------------+--------+------------+------------------+-----------+---------------+--------------------+--------------------+-----------+----------------+----------------+------------------+-----------------+----------------+
only showing top 20 rows

In [25]:
df.groupBy("Is An Alien").count().show()

+-----------+-----+
|Is An Alien|count|
+-----------+-----+
|       true|  688|
|      false|12700|
+-----------+-----+

In [26]:
df.groupBy("Is An Alien").pivot("Payment Method").agg(avg("Transaction Amount")).show()

+-----------+------------------+------------------+------------------+------------------+
|Is An Alien|            PayPal|     bank transfer|       credit card|        debit card|
+-----------+------------------+------------------+------------------+------------------+
|       true|469.51776470588214| 547.6004624277458| 517.7530538922155| 547.1965168539324|
|      false|215.12598584753908|215.15149230285903|206.31122327044054|215.21641883519203|
+-----------+------------------+------------------+------------------+------------------+

### 4. EDA [20 puntos]
(1 punto por gráfico y 1 punto por su interpretación)

<center>
<img src="https://i.pinimg.com/originals/41/7e/7b/417e7b9089bcc20c4909df8954c6e742.gif" width=400 />

Esta sección tiene como objetivo evaluar su habilidad para generar reportes y conclusiones a partir de los patrones identificados en los datos proporcionados por Bodoque. Específicamente, se enfoca en **caracterizar las transacciones** y **explorar las diferencias y similitudes en el comportamiento de humanos y aliens**. Utilice el dataset que ya incluye las transformaciones necesarias.

Por favor, asegúrese de que **todas** las visualizaciones que realice cumplan con los siguientes criterios:
- Deben ser relevantes y fáciles de interpretar.
- Cada gráfico debe incluir un título claro, nombres en los ejes y leyendas adecuadas.
- Adjunte una breve descripción interpretativa junto a cada gráfico para explicar los resultados visualizados.

Para llevar a cabo esta tarea, siga los siguientes pasos utilizando la librería de visualización de su elección (matplotlib, seaborn, plotly, etc):

1. **Conversión del DataFrame a formato pandas** (2 puntos): Pase el DataFrame procesado a formato pandas. Evite realizar transformaciones adicionales con pandas.
2. **Visualización de Variables Categóricas** (2 puntos por visualización):
   - Genere **tres gráficos de barras** que diferencien entre humanos y aliens. Analice y comente cualquier diferencia o similitud observada entre estos dos grupos.
3. **Visualización de Variables Numéricas** (2 puntos por visualización):
   - Elabore **tres distplots** para examinar las distribuciones de variables numéricas, diferenciando entre humanos y aliens. Comente las diferencias o similitudes notables.
4. **Análisis de Patrones en Transacciones** (2 puntos por visualización):
   - Cree **tres gráficos avanzados** que ayuden a identificar patrones en las transacciones. Estos gráficos deben incorporar al menos dos dimensiones y diferir de los anteriores. Algunos ejemplos podrían ser un lineplot que muestre la cantidad de transacciones mensuales por canal de venta, o un barplot que exhiba los tres productos más vendidos por canal.

Estos pasos le permitirán no solo visualizar datos complejos de manera efectiva, sino también interpretar estos datos para extraer insights valiosos acerca del comportamiento de los consumidores en el contexto de Bodoque.

In [ ]:
# Escriba su respuesta aquí

### 5. Particiones y consultas en SQL [2 puntos]

<center>
<img src="https://gitlab.com/imezadelajara/datos_clase_7_mds7202/-/raw/main/misc_images/1696330143457.gif" width=400 />

El equipo de Bodoque e-shop ha solicitado que los datos estén disponibles en una tabla SQL consultable. Además, están interesados en aprovechar las funciones de ventana en SQL para análisis avanzados. Las funciones de ventana permiten realizar cálculos sobre un conjunto de filas que están relacionadas con la fila actual. Por ejemplo, UNBOUNDED PRECEDING se usa para indicar que el rango de la función de ventana comienza desde la primera fila de la partición o del conjunto de resultados, lo cual es útil para calcular sumas acumulativas hasta la fila actual. Las variaciones comunes de este uso incluyen:

- `UNBOUNDED PRECEDING` to `CURRENT ROW`: Calcula desde el inicio de la partición hasta la fila actual.
- `UNBOUNDED PRECEDING` to `UNBOUNDED FOLLOWING`: Cubre todas las filas dentro de la partición.
- `VALUE PRECEDING` to `VALUE FOLLOWING`: Establece un rango específico basado en valores antes y después de la fila actual.

<center>
<img src="https://learnsql.com/blog/sql-window-functions-rows-clause/1.png" width=500 />

Ejemplo de uso en SQL:

```sql
STAT(COL1_NAME) OVER (PARTITION BY COL2_NAME ORDER BY COL3_NAME ROWS BETWEEN X PRECEDING AND CURRENT ROW)
```


Responda y realice los siguientes puntos:

1. **Creación de Tabla con PySpark** (2 puntos):
   - Desarrolle un script utilizando PySpark para crear una tabla a partir de un DataFrame previamente transformado. Seleccione y utilice una variable específica para la partición de la tabla. Justifique su elección de esta variable considerando factores como el tamaño del DataFrame, la distribución de los datos y el impacto potencial en el rendimiento de futuras consultas.

2. **Consulta SQL para Principales Clientes** (Bonus: 2 punto):
   - Ejecute una consulta SQL para identificar los 10 clientes que más productos han comprado. La consulta debe retornar el ID del cliente junto con el total de productos comprados, ordenados en forma descendente.

3. **Implementación de Función de Ventana en SQL y Equivalente en Spark** (Bonus: 2 punto):
   - Implemente una función de ventana en SQL para calcular la compra más alta realizada por cada usuario en los últimos tres meses. Además, describa cómo se podría realizar una función equivalente en Spark, considerando las capacidades específicas de PySpark para manejar este tipo de consultas.

In [ ]:
# Código Aquí

### 6. UDF [12 puntos]

<center>
<img src="https://64.media.tumblr.com/ba8c705edd2bed0a28d9458811155d69/tumblr_pap19zg4ae1w3zg6go1_400.gifv" width=400 />



Un experto en predicciones y programación le ha proporcionado un objeto serializado (`pickle`) diseñado para calcular las probabilidades de que un cliente cometa o no un fraude. Este experto sugiere que, para maximizar las capacidades de procesamiento distribuido de Spark, debería implementar `Scalar User Defined Functions` (udf). Esto le permitirá aplicar el objeto serializado en un entorno distribuido a lo largo de toda la población de datos. Un aspecto clave de la función desarrollada por el experto es que se enfoca exclusivamente en las siguientes columnas para realizar las predicciones: `['Transaction Amount', 'Quantity', 'Customer Age', 'Transaction Hour']`.

Aparte, el experto le proporciona las siguientes instrucciones para usar las UDF en Spark:

```python
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

def custom_function(col1, col2, col3, col4):
    pass

udf_function = udf(custom_function, FloatType())
```

Basándose en la estructura proporcionada, debe desarrollar una función que ejecute un código específico. Tenga en cuenta que esta función solo puede recibir columnas de Spark y debe retornar el valor deseado. Posteriormente, deberá utilizar esta función UDF indicando la función personalizada y el formato de salida.

Siga los siguientes pasos para implementar la solución y responda las preguntas:

1. **Cargar el objeto serializado**: Revise el tipo de objeto y deduzca su función. (1 punto)
2. **Explorar el objeto**: Utilice las funciones `dir` y `help` para identificar qué método del objeto predice la probabilidad. (1 punto)
3. **Crear una función personalizada**: Elabore una función que prediga la probabilidad de fraude utilizando el último valor de la lista generada por el objeto serializado. Puede modificar el nombre de la función para reflejar su propósito. (6 puntos)
4. **Definir la función UDF**: Establezca la función UDF con la función personalizada que ha creado. (2 punto)
5. **Generar una nueva columna**: Añada una nueva columna `prediction` a su DataFrame en Spark utilizando la función UDF y muestre un ejemplo de cómo se aplica. ¿Qué beneficios podría generar utilizar udf? (2 puntos)

In [ ]:
# Código Aquí